@model PruebaTecninca.Models.Materias

@{
    ViewData["Title"] = "Delete";
}

<body>
<h1>Eliminación</h1>

<h3>¿Eliminar esta materia?</h3>
<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
</body>

<style>
    html {
        height: 100%;
    }

    h1 {
        color: white;
    }

    h3 {
        color: white;
    }

    h4 {
        color: white;
    }

    dt {
        color: white;
    }

    dd {
        color: white;
    }

    table {
        color: white;
    }

    th {
        color: white;
    }

    td {
        color: white;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(#141e30, #243b55);
    }

</style>